@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;
}

body #h1 {
  position: relative;
  top: -2vh;
  background: #ffffff30;
  line-height: 60px;
}

@media (max-width: 500px) {
  body #h1 {
    line-height: 45px;
  }
}

body #form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 200px;
  width: 30%;
  background-color: #ffffff30;
}

body #form #email, body #form #pass, body #form #btn {
  position: relative;
  top: 20px;
  margin: 10px;
}

body #form #email input, body #form #pass input, body #form #btn input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

body #form #email ::-webkit-input-placeholder, body #form #pass ::-webkit-input-placeholder, body #form #btn ::-webkit-input-placeholder {
  color: #ffffff99;
}

body #form #email :-ms-input-placeholder, body #form #pass :-ms-input-placeholder, body #form #btn :-ms-input-placeholder {
  color: #ffffff99;
}

body #form #email ::-ms-input-placeholder, body #form #pass ::-ms-input-placeholder, body #form #btn ::-ms-input-placeholder {
  color: #ffffff99;
}

body #form #email ::placeholder, body #form #pass ::placeholder, body #form #btn ::placeholder {
  color: #ffffff99;
}

body #form #btn {
  top: 17%;
  left: 45%;
  width: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body #form #btn input {
  width: 100%;
  color: #000;
  background: linear-gradient(145deg, #ffffff30 45%, #ffffff 50%, #ffffff99 55%);
  background-size: 300%;
  border-radius: 20px;
  -webkit-transition: .7s;
  transition: .7s;
}

body #form #btn :hover {
  background-position: right;
}

@media (max-width: 991px) {
  body #form {
    width: 50%;
  }
}

@media (max-width: 767px) {
  body #form {
    width: 70%;
  }
}

@media (max-width: 321px) {
  body #form {
    margin-top: 5vh;
  }
}

body {
  background: url("../images/img.jpg") no-repeat fixed center;
  background-size: cover;
  margin: 2vh;
}

body .h1, body .h4 {
  color: #ffffff;
  font-weight: bold;
  line-height: 45px;
}

body .h4 {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

body #main {
  background-color: #ffffff20;
}

body #div1, body #div2, body #div3, body #div4, body #div5, body #div6, body #div7, body #div8, body #div9 {
  padding: 0;
  margin: 5px -5px;
  min-height: 190px;
  background: #ffffff20;
}

body #div7 img, body #div8 img, body #div9 img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 180px;
  width: 107px;
}

body #div1 {
  min-height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #div1 .mask {
  position: relative;
  overflow: hidden;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  margin: 1.25rem;
}

body #div1 .semi-circle {
  position: relative;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#c0392b), color-stop(50%, #f1c40f), to(#1abc9c));
  background: linear-gradient(to right, #c0392b 0%, #f1c40f 50%, #1abc9c 100%);
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

body #div1 .semi-circle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: block;
  width: 8.75rem;
  height: 4.375rem;
  margin-left: -4.375rem;
  background: #ffffff;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

body #div1 .semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5rem;
  height: 12.5rem;
  background: transparent;
  -webkit-transform: rotate(90deg) translate3d(0, 0, 0);
          transform: rotate(90deg) translate3d(0, 0, 0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body #div1 .semi-circle--mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 12.625rem;
  height: 6.375rem;
  margin: -1px 0 0 -1px;
  background: #f2f2f2;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

@media (min-width: 992px) {
  body #main {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
}

@media (max-width: 991px) {
  body {
    background-position: left;
  }
}

body #h1, body .h1, body .h4 {
  letter-spacing: 2px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
          animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #ffffff1f, 
 0 0 2px #ffffff2f, 
 0 0 3px #ffffff3f, 
 0 0 4px #ffffff4f, 
 0 0 5px #ffffff5f, 
 0 0 6px #ffffff6f, 
 0 0 7px #ffffff7f;
  }
  to {
    text-shadow: 0 0 10px #ffffff1f, 
 0 0 20px #ffffff2f, 
 0 0 30px #ffffff3f, 
 0 0 40px #ffffff4f, 
 0 0 50px #ffffff5f, 
 0 0 60px #ffffff6f, 
 0 0 70px #ffffff7f;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #ffffff1f, 
 0 0 2px #ffffff2f, 
 0 0 3px #ffffff3f, 
 0 0 4px #ffffff4f, 
 0 0 5px #ffffff5f, 
 0 0 6px #ffffff6f, 
 0 0 7px #ffffff7f;
  }
  to {
    text-shadow: 0 0 10px #ffffff1f, 
 0 0 20px #ffffff2f, 
 0 0 30px #ffffff3f, 
 0 0 40px #ffffff4f, 
 0 0 50px #ffffff5f, 
 0 0 60px #ffffff6f, 
 0 0 70px #ffffff7f;
  }
}
/*# sourceMappingURL=style.css.map */