$col1 : #ffffff20;
body{
    background: url("../images/img.jpg") no-repeat fixed center;
    background-size: cover;
    #main{
        background-color: $col1;
    } 
    #div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9{
        padding: 0;
        margin: 5px -5px;
        min-height: 190px;
        background: $col1;
    }
    #div7, #div8, #div9{
        img{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 63%;

        }
    }
    #div1{
        min-height: 390px;
    }
    @media screen and (min-width: 768px){
        #main{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}