$col1 : #ffffff20;
body{
    background: url("../images/img.jpg") no-repeat fixed center;
    background-size: cover;
    margin: 2vh;
    .h1, .h4{
        color: #ffffff;
        font-weight: bold;
        line-height: 35px;
    }
    .h4{
        transform: translateY(-20%);
    }
    #main{
        background-color: $col1;
    } 
    #div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9{
        padding: 0;
        margin: 5px -5px;
        min-height: 190px;
        background: $col1;
    }
    #div7, #div8, #div9{
        img{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            height: 180px;
                width: 107px;
        }
    }
    #div1{
        min-height: 390px;
    }
    @media (min-width: 992px){
        #main{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -48%);
        }
    }
}