<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/bootstrap.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Home Automation | Login</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="h1" id="h1">Sign into your account</div>
        </div>
        <div class="row" id="form">
            <form class="form" action="#">
                <div class="form-row" id="email">
                    <input type="email" placeholder="Email-Address" class="form-control" />
                </div>
                <div class="form-row" id="pass">
                    <input type="Password" placeholder="********" class="form-control" />
                </div>
                <div class="form-row" id="btn">
                    <input type="submit" value="login" class="btn1">
                </div>
            </form>
        </div>
    </div>
</body>
</html>